body
{
	font-family:'Ubuntu', sans-serif;
	background-color:#404040;
}

#content
{
	margin:44px;
	float:left;
	width:600px;
	float:right;
	font-size:22px;
}

#stopka
{
	margin-left:auto;
	margin-right:auto;	
	width:980px;
	background-color:#358BFA;
	color:black;
	text-align:center;
	font-size:25px;
	padding:10px;
}

#container
{
	margin-left:auto;
	margin-right:auto;	
	width:1000px;
	background-color:#303030;
	color:white;
	text-align:justify;
	font-size:20px;
}

#nav
{
	float:left;
	width:300px;
	background-color:#151515;
}

#logo
{
		float:right;
		color:black;
		font-size:50px;
		padding:10px 25px;
		background-color:#358BFA;
		font-weight:500;
		letter-spacing:2px;
}

.kafelek1
{
	float:left;
	height:130px;
	width:130px;
	margin:10px;
	margin-top:30px;
	text-align:center;
	font-size:17px;
}

.kafelek1 a
{
	text-decoration:none;
	color:black;
	display:block;
}

.kafelek2
{
	float:left;
	height:130px;
	width:130px;
	margin:10px;
	margin-top:30px;
	text-align:center;
	font-size:17px;
}

.kafelek2 a
{
	text-decoration:none;
	color:white;
	display:block;
}

#index
{
	background-color:#FF764A;
	height:110px;
	width:130px;
}

#index:hover
{
	opacity:0.66;
}

#cv
{
	background-color:#252525;
	height:110px;
	width:130px;
}

#cv:hover
{
	opacity:0.66;
}

#autor
{	
	background-color:#252525;
	height:110px;
	width:130px;
}

#autor:hover
{
	opacity:0.66;
}

#kontakt
{
	background-color:#C2FF5D;
	height:110px;
	width:130px;
}

#kontakt:hover
{
	opacity:0.66;
}

#strona1
{
	background-color:black;
	height:110px;
	width:130px;
}

#strona2
{
	background-color:black;
	height:110px;
	width:130px;
}

.overlay
{
	position:relative;
	width:130px;
	height:110px;
}

.overlay .link
{
	position:absolute;
	display:block;
	width:130px;
	height:110px;
	background-color:#404040;
	left:0px;
	top:0px;
	opacity:0;
}

.overlay:hover .link
{
	opacity:0.75;
	transition:opacity 0.5s ease-in-out;
}

h3
{
	text-align:center;
}
